---
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 2
---

<h1>Blog</h1>

{% for year, yearPosts in collections.postsByYear %}
  {% set postslist = yearPosts %}
  <h2>{{ year }}</h2>
  {% include "postslist.njk" %}
{% endfor %}

<h2>Posts by topic</h2>
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
