---
layout: layouts/home.njk
permalink: /contact/
eleventyNavigation:
  key: Contact
  order: 5
---

<h1>Contact</h1>

The best way to contact me is via Twitter <a href="https://twitter.com/jay_hankins">@jay_hankins</a>!
