---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<script>
  if (navigator && navigator.serviceWorker && navigator.serviceWorker.getRegistrations) {
    navigator
      .serviceWorker
      .getRegistrations()
      .then((registrations) => {
        for (let registration of registrations) {
          registration.unregister()
        })}
</script>

{% set maxPosts = collections.posts.length | min(4) %}

<h2>Home</h2>
<p>This is jhankins.dev. It used to be a Gatsby site and then the build broke from a minor package upgrade,
and I was too frustrated to debug it. Instead, I am rolling out this Eleventy site.
I expect that you will find some parts are broken, but so far, I'm impressed at the build speed and the
lack of blackbox magic going on behind the scenes.</p>
<br><br>

<h2>Latest {% if maxPosts == 1 %}Post{% else %}Posts{% endif %}
</h2>

{% set postslist = collections.posts | head(-4) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/blog/' | url }}">the archive</a>.</p>
