---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<script>
  if (navigator && navigator.serviceWorker && navigator.serviceWorker.getRegistrations) {
    navigator
      .serviceWorker
      .getRegistrations()
      .then((registrations) => {
        for (let registration of registrations) {
          registration.unregister()
        })}
</script>

{% set maxPosts = collections.posts.length | min(4) %}

<h2>jhankins.dev</h2>
<p>Welcome to one of the smallest sites on the world-wide web.</p>
<br><br>

<h2>Latest {% if maxPosts == 1 %}Post{% else %}Posts{% endif %}
</h2>

{% set postslist = collections.posts | head(-4) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/blog/' | url }}">the archive</a>.</p>

<link href="https://github.com/jay-hankins" rel="me">

<span class="h-card">
  <a href="https://jhankins.dev/" class="u-url u-uid">Jay Hankins</a>
  (<a href="https://twitter.com/jay_hankins" rel="me" class="u-url">my Twitter</a>)
  <img src="/img/mepic.jpg" class="u-photo mepic" width="128px"/>
</span>
