<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/themes.css' | url }}">
    <script>
      // if there's a theme id in localstorage, use it on the <html>
      localStorage.getItem('theme') && document
        .documentElement
        .setAttribute('data-theme', localStorage.getItem('theme'))
    </script>
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="icon" href="/favicon.png">
    {# {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap' %} #}

  </head>
  <body>
    <div class="wrapper">
      <header class="page-header">
        <nav>
          {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
          <ul class="nav">
            <li class="push">
              <a class="logo" href="{{ '/' | url }}">JH</a>
            </li>
            {%- for entry in collections.all | eleventyNavigation %}
              {# {% if page.url != "/" or entry.url != "/" %} #}
              <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              </li>
              {# {% endif %} #}
            {%- endfor %}
          </li>

        </ul>
      </nav>

    </header>

    <main class="{% if templateClass %}{{ templateClass }}{% endif %} page-body">
      {{ content | safe }}
    </main>

    <footer class="footer h-card" role="contentinfo">
      <div class="footer__inner container">
        <p class="footer__item">
          <strong>&copy; 2014—<span>
              <script>
                document.write(new Date().getFullYear())
              </script>
              <noscript>{% current_year %}</noscript>
            </span>
          </strong><br>
          <a class="p-name u-url u-uid" rel="me" href="https://jhankins.dev">Jay Hankins</a>
        </p>
        <p class="footer__item">
          <strong>Social</strong><br>
          <a href="https://twitter.com/jay_hankins/" title="Twitter" rel="me">Twitter</a> / <a href="https://github.com/jay-hankins/" title="Github" rel="me">Github</a>
        </p>
        <p class="footer__item">
          <strong>Legal</strong><br>
          <a href="/privacy/">Privacy Policy</a>
        </p>
        <p class="footer__item">
          <strong>Links</strong><br>
          <a href="/blogroll/">Blogroll</a><br>
          <a href="/feed/feed.xml" class="footer__icon" title="RSS Feed">
            <span class="sr-only">RSS Feed</span>
          </a>
        </p>

      </div>
      <a href="https://xn--sr8hvo.ws/%F0%9F%8C%91%F0%9F%98%95%F0%9F%8E%93/previous">←</a>
  An IndieWeb Webring 🕸💍
  <a href="https://xn--sr8hvo.ws/%F0%9F%8C%91%F0%9F%98%95%F0%9F%8E%93/next">→</a>
    </footer>

  </div>

  <!-- Current page: {{ page.url | url }} -->
</body>
</html>
