<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="icon" href="/favicon.png">
    {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap' %}

  </head>
  <body>
    <div class="wrapper">
      <header class="page-header">
        <nav>
          {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
          <ul class="nav">
            <li class="push">
              <a class="logo" href="{{ '/' | url }}">JH</a>
            </li>
            {%- for entry in collections.all | eleventyNavigation %}
              {# {% if page.url != "/" or entry.url != "/" %} #}
              <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              </li>
              {# {% endif %} #}
            {%- endfor %}
          </li>

        </ul>
      </nav>

    </header>

    <main class="{% if templateClass %}{{ templateClass }}{% endif %} page-body">
      {{ content | safe }}
    </main>

    <footer class="page-footer">
      <p class="">&copy; 2014 —
      <span>
          <script>
            document.write(new Date().getFullYear())
          </script>
          <noscript>{% current_year %}</noscript>
        </span>Jay Hankins.</p>
      <a href="https://xn--sr8hvo.ws/%F0%9F%8C%91%F0%9F%98%95%F0%9F%8E%93/previous">←</a>
  An IndieWeb Webring 🕸💍
  <a href="https://xn--sr8hvo.ws/%F0%9F%8C%91%F0%9F%98%95%F0%9F%8E%93/next">→</a>
      <p class="">Except where otherwise noted, content on this site is licensed under a&nbsp;<a href="http://creativecommons.org/licenses/by-sa/4.0/" class="Footer__Ffa-sc-1gi1jxo-2 heeoCV">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
      <p class="">This site doesn't track you— I don't collect analytics. Want to share how you found my site, or give me feedback? <br>
        <a class="" href="/contact"> I'd love to hear from you.</a>
      </p>
    </footer>
  </div>

  <!-- Current page: {{ page.url | url }} -->
</body>
</html>
