:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #f1f1f1;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
  --jorange: orange;
  --lightorange: rgb(255, 225, 166);
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Hind", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
  border-top: 2px orange solid;
  height: 100vh;
  letter-spacing: -0.1pt;
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img,
iframe {
  max-width: 58rem; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.7;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  /* max-width: 52rem; */
  margin: 0;
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header {
  max-width: 58rem;
  margin: 0 0 3rem;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.7;
}
pre {
  font-size: 14px;
  line-height: 1.5;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  /* float: left; */
  margin-left: 1em;
  margin-top: 1.3rem;
  line-height: 1.4rem;
  display: flex;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}
.push {
  margin-right: auto;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
  margin-bottom: 1rem;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.post-tags {
  margin-left: 2ch;
  vertical-align: text-top;
}
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  font-size: 0.85em; /* 10px /16 */
  /* padding: 2px 8px; */
  margin-left: 0.2em; /* 8px /10 */
  /* background-color: var(--lightgray); */
  color: var(--darkgray);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
.post-tag::before {
  content: "#";
}
a[href].post-tag,
a[href].post-tag:visited {
  color: var(--darkgray);
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
div.square {
  background-color: orange;
  padding: 0.3rem 0.3rem 0.25rem 0.2rem;
  color: black;
  letter-spacing: -0.075rem;
  float: left;
  margin: 1rem 0 0 1rem; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
  font-weight: bold;
}
footer {
  max-width: 58rem;
  /* border-top: 0.05rem solid var(--darkgray); */
  margin: 6rem 0 2rem;
  padding: 1rem 1rem 0 1rem;
  font-size: smaller;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
footer:hover {
  opacity: 1;
}
footer p {
  max-width: unset;
  font-size: 1em;
}

.logo {
  display: inline-block;
  text-indent: -99999px;
  width: 24px;
  height: 24px;
  background: url(/img/logo.svg);
  background-size: 24px 24px;
  margin-right: 1rem;
}

footer .small {
  font-size: smaller;
}

.mepic {
  border-radius: 62% 38% 63% 37% / 30% 54% 46% 70%;
}

.h-card {
  display: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 58rem;
  margin: 0 auto;
}

.page-header,
.page-footer {
  flex-shrink: 0;
}

.page-body {
  flex-grow: 1;
}

.post-header > h1 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.post-header > time {
  font-size: 1.2rem;
  color: #595959;
}

.post-header {
  margin-bottom: 4em;
}

p {
  font-size: 1.1em;
}

article.post {
  margin-bottom: 10rem;
}

h1,
h2,
h3 {
  margin-top: 2em;
}
